@model List<User>
@{
    ViewData["Title"] = "Finished";
}
@if (Model != null && Model.Count != 0)
{
    <table class="table">
        <tr><th>Full Name</th><th>Running Number</th><th>Start Time</th><th>Finish Time</th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.RunningNumber</td>
                <td>@user.StartTime.TimeOfDay.ToString(@"hh\:mm\:ss")</td>
                <td>@user.FinishTime.TimeOfDay.ToString(@"hh\:mm\:ss")</td>
            </tr>
        }
    </table>

}
else
{
    <p>There is not data in database</p>
}