@model List<User>
@{
    ViewData["Title"] = "Result";
}
@if (Model != null && Model.Count != 0)
{
    @foreach (var user in Model)
    {
        <div style="background-color: gainsboro;">
            <p>@user.FullName  @user.RunningNumber</p>
            <br />
            <div>
                <p style="color: green;">@user.ResultTime</p>
                <br />
            </div>

        </div>
    }
}
else
{
    <p>There is not data in database</p>
}